@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Clientes</h2>
@Html.ActionLink("Nuevo Cliente", "Nuevo", "Clientes", null, new { @class="btn btn-info" })
<table id="clientes" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo de Membresia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>           
    </tbody>
</table>

@section scripts
{
    @Html.Partial("_BootboxScriptsPartial")
    @Html.Partial("_DataTableScriptsPartial")
    <script>
        $(document).ready(function () {
            var table = $("#clientes").DataTable({
                ajax: {
                    url: "/api/clientes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "nombre",
                        render: function(data, type, cliente) {
                            return "<a href='/clientes/editar/" + cliente.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "tipoMembresiaNombre",                        
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn js-borrar' data-customer-id=" + data + "><i class='fa fa-trash'></i></button>" +
                                "<a href='/clientes/editar/" + data +"' class='btn' ><i class='fa fa-pencil'></i></a>";
                        }
                    }
                ]
            });

            $("#clientes").on("click", ".js-borrar", function() {
                let button = $(this);

                bootbox.confirm("¿Está seguro que desea borrar el cliente?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/clientes/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });                
            });
        })
    </script>
}
